<div id="foo" class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Message received!</h3>
        </div>
        <div class="panel-body">
          <p>Thank you</br>We received your message and sent you an E-Mail as confirmation.</p>
        </div>       
      <div class="panel-footer">
        <button class="btn btn-primary" ng-click="close()">Close</button>
      </div>
      </div>
    </div>
  </div>
</div>