
<div class="col-lg-6" >
	<div class="index">
		<h4>Frequently asked questions</h5>
		<p>If you dont find an answer here, ask us directly <a a ui-sref="contact()">using this form</a></p>
			<p  ng-repeat="item in list"><a ng-click="scroll(item.href)">{{item.title}}</a></p>
	</div>		
</div>

<div class="col-lg-12" ng-repeat="item in list">
	<div class="col-md-9">
		<div class="box-bg white">
			<div class="align-center">
				<h4 id="{{item.href}}" class="text-bold">{{item.title}}</h4>
				<p ng-repeat="section in item.contentHtml" ng-bind-html="section"></p>
			</div>
		</div>
	</div>
</div>
