
<div class="container white">
	<div class="row">
	<div class="col-lg-12">
		<div class="col-md-offset-3 col-md-6">
			<div class="box-bg">
					<div class="align-center">
						<!-- <i class="fa fa-camera-retro fa-5x"></i> -->
						<h4 class="text-bold">Welcome to WaveBusters</h4>
		<p>We are all about the waves. If you are experiencing undesired resonances in your studio and want to do something about it, you've come to the right place. We help you analyze your setup and provide solutions to improve the sound quality of your studio.</p>
					</div>
			</div>
		</div>
	</div>
</div>


<div class="container white">
	<div class="row">
		<div class="col-lg-12">
			<div class="col-md-4">
				<a ui-sref="theory()">
				<div class="box-bg">
						<div class="align-center">
							<i class="fa fa-book fa-5x"></i>
							<h4 class="text-bold">Learn more</h4>
			<p>All you need to know about sound reflections, room modes and frequency responses</p>
						</div>
				</div>
				</a>
			</div>

			<div class="col-md-4">
				<div class="box-bg">
						<div class="align-center">
							<i class="fa fa-file fa-5x"></i>
							<h4 class="text-bold">Demo</h4>
			<p>Have a look at an example to find out what the results of our calculation look like</p>
						</div>
				</div>
			</div>
			<div class="col-md-4">
				<a ui-sref="requestInit()">
				<div class="box-bg">
						<div class="align-center">
							<i class="fa fa-plus fa-5x"></i>
							<h4 class="text-bold">Analyze</h4>
			<p>Get your studio analyzed!</p>
						</div>
				</div>
			</a>
			</div>
		</div>
	</div>
</div>