<div id="foo" class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Request detail</h3>
        </div>
 
        <lfs-request-detail request="request"></lfs-request-detail>
        
        <div class="panel-footer">
          <a ui-sref="home()"><span style="text-align: left;">
            <button type="button" class="btn btn-default">
              <span class="glyphicon glyphicon-chevron-left"></span> Home
            </button>
          </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>