<div class="container white">
  <div class="row">
    <div class="col-lg-12">
      <div class="col-md-6">
        <div class="box-bg">
            <div class="align-center">
              <i class="fa fa-book fa-5x"></i>
              <h4 class="text-bold">Analyze</h4>
                    <p>
        Complete this wizard to get an evaluation of your studio.
      </br>Once completed we will send you the results within the next 2-3 days. The price for one evaluation is 50$</p>
      <p>
        <button class="btn btn-primary" ng-click="initRequest()">Get Started</button>
      </p>
            </div>
        </div>
        </a>
      </div>
    </div>
  </div>
</div>