
<div class="col-lg-6" >
	<div class="index">
			<p  ng-repeat="item in list"><a ng-click="scroll(item.href)">{{item.title}}</a></p>
	</div>		
</div>

<div class="col-lg-12" ng-repeat="item in list">
	<div class="col-md-9">
		<div class="box-bg white">
			<div class="align-center">
				<h4 id="{{item.href}}" class="text-bold">{{item.title}}</h4>
				<p ng-repeat="section in item.contentHtml" ng-bind-html="section"></p>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="box-bg white">
			<div class="align-center">
				<img src="img/diag1.png" alt="" width="100%"/>	
			</div>
		</div>
	</div>		
</div>
