
<div class="col-lg-6" >
	<div class="index">
		<h4>Theory</h5>
		<p>All you need to know about sound reflections, room modes and frequency responses:</p>
			<p  ng-repeat="item in list"><a ng-click="scroll(item.href)">{{item.title}}</a></p>
	</div>		
</div>

<div class="col-lg-12" ng-repeat="item in list">
	<div class="col-md-9">
		<div class="box-bg white">
			<div class="align-center">
				<h4 id="{{item.href}}" class="text-bold">{{item.title}}</h4>
				<p ng-repeat="section in item.contentHtml" ng-bind-html="section"></p>
			</div>
		</div>
	</div>
	<div class="col-md-3" ng-show="item.image">
		<div class="box-bg white">
			<div class="align-center">
				<img ng-src="{{item.image}}" alt="" width="100%"/>	
			</div>
		</div>
	</div>		
</div>
