	<div class="col-lg-12">
		<div class="col-md-9">
			<div class="box-bg white">
					<div class="align-center">
						<h4 class="text-bold">Room acoustics – Sound reflections in rooms</h4>
						<p>When you play back music through loudspeakers in a room, you do not only hear the sound produced by the loudspeakers, but also the room. The same is true if an instrument is played inside a room. Usually the room even strongly influences your perception of music. The reason for this are sound reflections. Sound waves are reflected at room walls, the floor, the ceiling and objects. Besides the direct sound wave, these reflected sound waves also arrive at our ears. In some rooms, certain reflections are favorable; in some rooms they are disturbing. At middle and high frequencies, a well-known effect of sound reflections is known as reverberation. At low frequencies, however, sound reflections have different effects.</p>
					</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="box-bg white">
					<div class="align-center">
					<img src="img/diag1.png" alt="" width="100%"/>	
					</div>
			</div>
		</div>		
	</div>
</div>	
<div class="col-lg-12">
		<div class="col-md-3">
			<div class="box-bg white">
				<div class="align-center">
					<img src="img/diag3.png" alt="" width="100%"/>	
				</div>
			</div>
		</div>
		<div class="col-md-9">
			<div class="box-bg white">
				<div class="align-center">
					<h4 class="text-bold">Low frequencies – Room modes</h4>
					<p>At low frequencies, the interference of multiply reflected sound waves leads to standing waves. These are specific sound field patterns, the so called room modes. In small rooms, they severely influence the perception of low frequencies (bass, low end) in music. Some tones can be clearly heard, whereas others seem to have disappeared. Furthermore, room modes cause a muddy and shaky bass sound. More technically spoken, room modes cause an uneven frequency response at low frequencies. And this is especially crucial for recording studios, mastering rooms or home theatres with critical listening environments. When designing or planning such rooms, the room modes have to be considered.
Room modes are resonances. Each room mode has a resonance frequency and a distinct sound pressure distribution called room mode shape. Room modes mainly depend on the room geometry, i.e. the room shape and the size.
</p>
				</div>
			</div>
		</div>		
	</div>
</div>